/**
 * 🧚‍♀️ How to access:
 *     - import '@ace/loading.styles.css'
 *     - 🚨 `--ace-loading-color`: Color of first spinner
 *     - 🚨 `--ace-loading-size`: Spinner height/width
 *     - 🚨 `--ace-loading-thickness`: Thickness of spinner
 *     - 🚨 `--ace-loading-speed`: Spinning speed
 *     - 🚨 `--ace-loading-two-color`: Color of second spinner
 */


.ace-loading {
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: var(--ace-loading-size);
  height: var(--ace-loading-size);
  border-top: var(--ace-loading-thickness) solid var(--ace-loading-color);
  border-right: var(--ace-loading-thickness) solid transparent;
  animation: ace-spin var(--ace-loading-speed) linear infinite;

  .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    pointer-events: none;
  }
}

.ace-loading--two {
  &::after {
    content: '';  
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: var(--ace-loading-size);
    height: var(--ace-loading-size);
    border-bottom: var(--ace-loading-thickness) solid var(--ace-loading-two-color);
    border-left: var(--ace-loading-thickness) solid transparent;
  }
}
