@keyframes tron-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --tron-speed: 3s;
  --tron-z-index: 10;
  --tron-width: 0.3rem;
  --tron-opacity-speed: 0.5s;
  --tron-border-radius: 0.9rem;
  --tron-colors: red, yellow, orange, green, blue, violet, red;
  --tron-bg: linear-gradient(to bottom right, rgb(0 22 26), rgba(10, 10, 20, 0.9));
}

.tron {
  position: relative;
  border-radius: var(--tron-border-radius);
  padding: var(--tron-width);

  display: flex; /** w/o this the width will be 100%, flex-inline works too */
  flex-direction: column; /** gives us typical display block inner element stacking behavior */
  width: fit-content; /** width is only as wide as its content */
  &.hover:hover,
  &.infinite {
    .tron-light-wrapper {
      opacity: 1;
    }

    .tron-light {
      animation-play-state: running;
    }
  }
  &.off {
    .tron-light-wrapper {
      opacity: 0;
    }

    .tron-light {
      animation-play-state: paused;
    }
  }

  .tron-light-trim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: calc(var(--tron-z-index) + 1);
    overflow: hidden;
    border-radius: inherit;

    .tron-light-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity var(--tron-opacity-speed);
      pointer-events: none;

      .tron-light {
        content: '';
        animation-play-state: paused;
        background-image: conic-gradient(var(--tron-colors));
        animation: tron-spin var(--tron-speed) linear infinite;

        /** Enlarge light to window size: pick largest dimension so that we fill the viewport */
        /** Divide by -1: Gives us a negative number so that we move out from the content by the length of the viewport */
        position: absolute;
        top: calc(max(100vw, 100vh) / -1);
        right: calc(max(100vw, 100vh) / -1);
        bottom: calc(max(100vw, 100vh) / -1);
        left: calc(max(100vw, 100vh) / -1);
      }
    }
  }

  .tron-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: calc(var(--tron-z-index) + 2);

    > :first-child {
      border-radius: var(--tron-border-radius);
    }

    .tron-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
